@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
    /* background-color: #021526; */
    background-color: #021526;
}

.color-blue {
    color: #6EACDA;
}

.text {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* ------------------------------------------------------ Home Section ----------------------------------------------- */

.navbar {
    position: fixed;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, 0%);
}

.nav-items {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    gap: 5px;
    margin-top: 20px;
    z-index: 3;
    border-radius: 100px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 20px 1px;
    background-color: rgba(255, 255, 255, 0.1);
    /* Blueviolet with transparency */
    backdrop-filter: blur(20px);
    /* Blur effect on the navbar */
    -webkit-backdrop-filter: blur(20px);
    /* Support for Safari */
    transition: backdrop-filter 0.3s ease;
    /* Smooth transition for blur */
}

.nav-items p {
    /* Aquamarine with transparency */
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 1;
    padding: 5px;
    color: white;
    z-index: 3;
    min-width: 90px;
    text-align: center;
    font-size: 18px;
    border-radius: 2rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: default;
}

.nav-items a.active p {
    background-color: rgba(255, 255, 255, 0.2); /* Example color */
    color: #6EACDA; /* Change text color for active link */
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 10px 10px;

}

.nav-items p:hover {
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 3;
    cursor: pointer;
    /* Slightly lighter on hover */
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 10px 10px;
}

.Home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Home-page>.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    width: 70%;
    gap: 30px;
}

.Home-page .text-container p {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Home-page .designation {
    font-size: 18px;
    font-weight: 300;
}

.Home-page .Name-prefix {
    font-size: 70px;
    font-weight: 500;
}

.Home-page .Name>p {
    font-size: 70px;
    font-weight: 500;
    color: #6EACDA;
}

.Home-page .introduction>p {
    font-size: 18px;
    font-weight: 200;
    max-width: 500px;
    margin-top: 10px;
}

.Home-page .connect-btn {
    display: inline-flex;
    padding: 10px 10px 10px 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border: white solid 1px;
    border-radius: 3rem;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.Home-page .connect-btn:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 10px 10px;
}


.Home-page .connect-btn svg {
    padding: 5px 5px 5px 5px;
    background-color: white;
    border-radius: 2rem;
    margin-left: 10px;
}

.Home-page .Profile-image>img {
    height: 400px;
    border-radius: 30rem;
}

/* -------------------------------------------------------------About Section----------------------------- */
.about-Page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-Page>.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 70%;
    gap: 30px;

}

.about-Page .about-container p {
    color: white;
}

.about-Page .title {
    font-size: 40px;
    font-weight: 500;
}

.about-Page .topic {
    font-size: 16px;
    font-weight: 200;
    margin-bottom: -40px;
}

.about-Page .description {
    font-size: 18px;
    font-weight: 200;
}

.about-Page .education-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 2fr 2fr;
    gap: 20px;
}

.education-grid .education-title {
    grid-column: span 2;
}

.education-grid .education-title>p {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 300;
}

.education-grid .education-item {
    background-color: #03346E;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.about-Page .education-grid .year {
    color: #6EACDA;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 0px;
}

.about-Page .education-grid .course {
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.about-Page .education-grid .place {
    color: white;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
    display: list-item;
}

.about-Page .education-grid .score {
    color: white;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 0px;
    display: list-item;
}



/* ---------------------------------------------------Skills Scetion---------------------------------------------- */

.skills-page .swiper {
    width: 70%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.skills-flex-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-page .swiper-slide {
    width: 320px;
    height: 500px;
    background-color: #03346E;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2rem;
}

.skills-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.skills-page .grid-container {
    display: grid;
    margin-top: 20px;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.skills-page .skills-items>img {
    height: 60px;
    width: 60px;
    object-fit: scale-down;


}

.skills-page .skills-items {
    border: #021526 solid 1px;
    height: 80px;
    width: 80px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5EDED;
}

.skills-page .skill-name>p {
    color: white;
    font-weight: 300;
    font-size: 20px;
}

.skills-page .skills-title>p {
    color: white;
    font-size: 70px;
    font-weight: 400;
}

.skills-page .skills-title {
    transform: rotate(270deg);
}

/* --------------------------------------------------------Project Section ------------------------ */

.project-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.project-page .project-title>p {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.project-page .swiper {
    height: 60vh;
    width: 70vw;
}

.project-page .swiper-slide {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 0.1fr;
    height: 100%;
}

.project-page .project-image img {
    height: 400px;
    width: 400px;
    border-radius: 2rem;
}

.project-page .project-image {
    display: flex;
    justify-content: left;
    align-items: center;
}

.project-page .project-name {
    font-size: 24px;
    color: #6EACDA;
    font-weight: 500;
    text-align: left;
}

.project-page .project-description {
    font-size: 16px;
    color: white;
    font-weight: 300;
    text-align: justify;
}

.project-page .project-languages {
    font-size: 16px;
    color: white;
    font-weight: 300;
    text-align: left;
}

.project-page .project-link img {
    height: 60px;
    width: 60px;
    border-radius: 3rem;

}

.project-page .project-link {
    position: absolute;
    top: 100%;
    left: 100%;
    margin-top: -120px;
    margin-left: -120px;
}

.project-page .project-swiper {
    display: flex;
    align-items: end;
}

.project-page .project-swiper .swipe-btn {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.project-page .project-swiper .swipe-btn .up {
    transform: rotate(270deg);
    margin: 10px;
    border: white solid 1px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.project-page .project-swiper .swipe-btn .down {
    transform: rotate(90deg);
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 1px;
    border-radius: 2rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.project-page .project-swiper .swipe-btn .up:hover,
.project-page .project-swiper .swipe-btn .down:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 10px 10px;
    cursor: pointer;
}

/* -------------------------------------------------------Contact Section------------------------------------ */

.contact-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-page .contact-title>p {
    color: white;
    font-size: 30px;
}

.contact-page .grid-container {
    height: 50vh;
    width: 70%;
    border: white solid 1px;
    border-radius: 3rem;
    display: grid;
    grid-template-columns: 10fr 0.1fr 10fr;
}

.contact-page .grid-container .divider {
    width: 1px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-page .grid-container .name-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-page .grid-container .name-cv .cv-btn {
    display: inline-flex;
    padding: 10px 10px 10px 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border: #6EACDA solid 1px;
    border-radius: 3rem;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-page .grid-container .name-cv .cv-btn:hover {
    cursor: pointer;
    box-shadow: rgb(110, 172, 218, 0.2) 0px 0px 10px 10px;
}


.contact-page .grid-container .name-cv .cv-btn svg {
    padding: 5px 5px 5px 5px;
    background-color: #6EACDA;
    border-radius: 2rem;
    margin-left: 10px;
    transform: rotate(90deg);
}

.contact-page .grid-container .name-cv .name p {
    color: white;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 500;
}

.contact-page .grid-container .name-cv .name span {
    color: #6EACDA;
}

.contact-page .grid-container .name-cv .cv-btn p {
    color: #6EACDA;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 500;
}

.contact-page .grid-container .email-other {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-page .grid-container .email {
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 1px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-page .grid-container .email:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 10px 10px;
}

.contact-page .grid-container .email-link {
    grid-column: span 2;
}

.contact-page .grid-container .email p,
.contact-page .grid-container .linkedin p,
.contact-page .grid-container .github p {
    color: white;
    font-weight: 300;
    margin-left: 20px;
}

.contact-page .contact-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.contact-page .grid-container .linkedin,
.contact-page .grid-container .github {
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 1px;
    border-radius: 2rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-page .grid-container .linkedin:hover,
.contact-page .grid-container .github:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 10px 10px;
}